@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) == false){
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Логин</a>
        </li>    
    }
    else{
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>        
        @if(User.IsInRole("admin")){
            <li class="nav-item">
                <a  class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a>
            </li>
        }
        <li class="nav-item">
            <form  class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Выход</button>
            </form>
        </li>
    }
</ul>
